version: '3.8'

services:
  app:
    container_name: nextjs-pwa-moneymanagement
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8086:3000"
    environment:
      - MONGODB_URI=mongodb://americano-mongo:27017/moneymanagement
      - NODE_ENV=production
    networks:
      - root_default

networks:
  root_default:
    external: true
